@font-face{
	font-family: 'Montserrat', sans-serif;
	src: url('../fonts/Montserrat-Bold.woff') format('woff'),
	url('../fonts/Montserrat-Bold.woff2') format('woff2');
	font-weight: bold;
}	

@font-face{
	font-family: 'Montserrat', sans-serif;
	src: url('../fonts/Montserrat-Regular.woff') format('woff'),
	url('../fonts/Montserrat-Regular.woff2') format('woff2');
	font-weight: regular;
}	

@font-face{
	font-family: 'Montserrat', sans-serif;
	src: url('../fonts/Montserrat-SemiBold.woff') format('woff'),
	url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
	font-weight: semibold;
}	

:root{
	--white : #fff;
	--blue : #ADD9E9;
	--darkblue: #2f5875;
	--black: #212121;
}

@mixin buttons { //réglage du design des boutons en général pour toute la page
	background: none;
	display: inline-block;
	color: inherit;
	border: 2px solid var(--darkblue);
	background: var(--blue);
	cursor: pointer;
	font-family: 'Montserrat';
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 25px;
	box-shadow: 5px 5px 5px var(--black);
	opacity: 0,1px;
}

@mixin margin{ //réglage des margins top afin qu'ils soient identiques partout
	margin-top: 5%;
}