@import 'variables'; //importation des différentes variables nécéssaires 
@import 'reset'; //importation du fichier reset afin de bien modifier le SCSS



html{ //donner la police et la couleur à toute la page HTML
	font-family: 'Montserrat';
	color: black;
	
}

header{ // configuration du header 
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	text-transform: uppercase;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	figure img{ //configuration de la figure du logo de la page 
		margin-left: 0;
	}

	img{ //configuration du logo même 
		width: 200px;
		margin-right: 500px;
		margin-left: 500px;
	
	}

	nav{ // configuration de la NAV
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--blue);
		z-index: 15;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
	}

	button{ //réglage du bouton MENU dans le HEADER
		border-radius: 0;
		z-index: 1;
		padding: 10px;
	}
}

button,
.button{ // ajout du design buttons sur le bouton "découvrir"
	@include buttons;
}

a:hover,
	button:hover,
	.button:hover{ //ajout d'animation lorsque le curseur passe sur le bouton 
		color: var(--hover);
		border-color: var(--hover);
	}


#close{ //mise en place du bouton CLOSE du MENU
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 2rem;
}

nav ul li a{ //ajout d'animation lorsque le curseur passe sur les LI et les A
	color: var(--black);
}

.navOpen nav{ //affichage de la NAV
	display: flex;
}

nav ul{ //réglage de la NAV
	width: 250px;
	margin-bottom: 20px;
	text-align: center;
}

nav ul li{ //permet de fixer la nav à gauche avec de l'espace entre les liens
	border-bottom: 1px solid var(--navLine);
	text-align: left;
	padding: 10px 0;
}

nav ul li:last-child{ //affiche la barre qui sépare la nav du menu 2
	border: 0;
	border-bottom: 1px solid #57CFF7;
	padding-bottom: 10%;
	width: 100%;
	height: 1px;
}

.intro{ //mise en place du 1er contenu
	width: 100 px;
	background: var(--blue);
	padding:0 100px 250px 100px;
	@include margin;
	position: relative;
	margin-bottom: 7Opx;

	figure{
		display: flex;
		justify-content: center;
	}
	figure img{ //réglage de l'icone du sapin de Noël
		width: 150px;
		display: block;
	}

	h1{ //réglage du contenu sous forme de texte 
		text-align: center;
		margin-left: 0;
		padding-top: 20px;

		span{ //mise en avant d'une partie du texte
			font-weight: bold;
		}
	}

	button{ //mise en place du boutton découvrir
		padding: 10px 20px 10px 20px;
		font-size: 20px;
		position: absolute;
		bottom: -22px;
		left: 50%;
		margin-left: -86px;
	}
	
}
 
.funct{ //contenu 2
	@include margin; //mise en place de l'espace entre le contenu 1 & 2

	p{//mise en place du texte 
		span{ //mise en avant du nom de la marque
			font-weight: bold; 
		}

		text-align: center; 
	}

	figure{ //mise en place des trois sous contenus 
		@include margin;
		justify-content: space-around;
		margin-top: 5%;
    	display: flex;
	

		p{ //ajustement des trois contenus
			border: 1px solid var(--blue);
			height: 150px;
			width: 150px;
			border-radius: 50%;
			background: var(--blue);
			text-align: center;
			margin-top: 25px;
			padding-top: 60px;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 15px;
			box-shadow: 5px 5px 5px var(--black);
		}

	}

	p{ //espacement du texte des contenus 
		@include margin;
	}

	button{ //réglage des boutons groupés
		border-radius: 5px;
		padding: 15px;
		margin-left: 50%;
	}

	button{ //réglage des boutons groupés
		margin-top: 2%;
		margin-left: 42%;
		padding-right: 10%;

	}

	.appli{ //réglage du bouton "obtenir l'application"
		padding-right:4%;
	}

	.ios{ //réglage du bouton "obtenir l'application"
		padding-right: 6%;
	}
	
}

.fav{ //contenu 3
	@include margin; //espacement du contenu 2 avec le 3

	h1{ //réglage du texte concernant les boutiques
		font-weight: bold;
		color: #0E305B;
		text-align: center;
		font-size: 24px;
		
		
	}

	.shop{ //mise en page des logos des boutiques partenaires 
		@include margin;
		max-width: auto;
		display: flex;
		margin-left: 10%;
		width: 30%;
		height: auto;
		justify-content:space-between;
		margin-bottom: 5%;

		/* add hover */

		img{ //mise en page de la carte cashback en BAT's
			height: auto;		
			margin-left: 30%;
			width: 100%;
		}

			.mango{ //réglage du logo de la boutique Mango
				width: 50%;
				height: 50%;
				margin-top: 15%;
			}

			.zara{ //réglage du logo de la boutique Zara
				width: 50%;
				height: 50%;

			}

			.jules{ //réglage du logo de la boutique Jules
				width: 50%;
				height: 50%;
				margin-top: 10%;
			}
	}

	p{ //texte explicatif du cashback chez Zara
		margin-left: 20%;
		margin-right: 20%;
		text-align: center;
	}

	.card{ //ajustement de la carte cashback
		@include margin;
		width: 20%;
		height: 20%;
		margin-left: 40%;
	}

	button{ //gestion du bouton "Voir tous les cashbacks chez Zara"
		@include margin;
		margin-left: 39%;
		border-radius: 5px;
		padding-left: 10%;
		font-weight: normal;
		padding-top: 1%;
		padding-bottom: 1%;

		.tic{ //gestion de l'emoji dans le bouton
			text-align: left;
			margin-left: -70%;
			font-size: 2rem;

		}

		.cod{ //gestion du texte "Voir tous les cashbacks chez Zara"
			margin-top: -50px;
		}

		span{ //gestion du span "Zara"
			font-weight: bold;
		}
	}
}

.end{ //contenu 4 & son réglage
	@include margin; 
	text-align: center;

	p{ //réglage du texte du contenu 4
		margin-top: 1%;
		margin-bottom: 3%;
	}

	span{//mise en évidence des chiffres importants pour la marque 
		text-transform: bold;
		font-size: 60px;
		border: 0;
		border-bottom: 10px solid var(--blue);
		width: 100%;
		height: 1px;
		padding-top: 50%;

	}

}

footer{ //mise en place du footer 
	@include margin;
	border: 1px solid var(--blue);
	width: 100%;
	background: var(--blue);

	img{ //gestion du logo
		@include margin;
		width: 10%;
		height: 10%;
		margin-left: 45%;
		margin-bottom: 2%;
	}

	.fend{ //gestion du menu du footer
		margin-left: 40%;
		margin-right: 40%;
		padding: 2%;
		padding-top: 0;
	}

	.fend p{ // alignement du menu au centre
		text-align: center;
	}

	.fend a{ //réglage du menu plus approfondie 
		color:var(--darkblue);
		text-decoration: none;
		justify-content: space-between;
		
	}
	a:hover, //animation du hover lorsque la souris passe sur les balises a
	button:hover,
	.button:hover{
		color: white;
		border-color: white;
	}
}

// PAGE CONTACT // 

.contactintro{ //mise en page du contenu de présentation de la page
	width: 100%;
	height: 50%;
	background: var(--blue);
	padding: -100px 100px 25px 100px;
	@include margin;

	figure img{ // réglage approfondi de l'icône "contact"
		width: 150px;
		margin-left: 45%;
		margin-top: -90px;
	}

	h1{ // réglage approfondi du texte de présentation
		text-align: center;
		margin-left: 0%;
		padding-top: 20px;
		text-transform: uppercase;
		font-size: 25px;
	}
}
.info{ // mise en page du contenu texte de la page 

	@include margin;
	h2{ // texte en question : CONTACT
		margin-bottom: 5%;
		margin-left: 10%;
		text-transform: uppercase;
		font-weight: bold;
	}

	h3{ // texte en question : texte indicateur pour l'utilisateur 
		font-weight: bold;
		margin: 0 30% 5% 30%;
		text-align: center;
	}
}

.form{ // mise en page du formulaire 
	@include margin;
	margin: 0 30% 5% 40%;
	display: inline-block;
	width: 12%;
	text-transform: uppercase;


	
	input, textarea, select{ //réglage des balises input, textarea & select dans le formulaire 
		padding: 4% 100% 5% 2%;
		margin: 10% 0 10% 0;
		background: var(--blue);
		border: 3px solid var(--darkblue);
		opacity: 0.7;
		border-radius: 10px;
		font-family: 'Montserrat';

	}

	::placeholder{ //édition des placeholders dans le formulaire
		text-transform: uppercase;
	}

	.select{ // réglage approfondi de la case "objet" et des propositions de contact
		padding-right: 95%;
	}

	textarea{ //fixer les dimensions de la case "message" 
		min-width: 10%;
		min-height: 10%;
		max-height: 20%;
		max-width: 300%;
		
	}

	button{ // réglage du bouton "envoyer"
		@include margin;
		border-color: #919191;
		border-radius: 10px;
		padding: 4% 78% 2% 55%;
		background: #e8e8e8;
		

		p{ // centrer le texte "envoyer" dans le bouton 
			margin-left: 35%;
		}
	}
}

@media screen and (max-width: 374px){

html{ //donner la police et la couleur à toute la page HTML
	font-family: 'Montserrat';
	color: black;
}

header{ // configuration du header 
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 7px;
	padding-right: 5%;
	padding-left: 1%;;
	text-transform: uppercase;
	top: 0;
	left: 0;
	width: 25%;


	img{ //configuration du logo même 
		width: 100px;
		margin-right: 250px;
		margin-left: 250px;
	
	}

	nav{ // configuration de la NAV
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--blue);
		z-index: 15;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
	}

	button{ //réglage du bouton MENU dans le HEADER
		border-radius: 0;
		margin-left: -80%;
		width: 100%;
		margin-right: 100Px;
		
	}

}

button,
.button{ // ajout du design buttons sur le bouton "découvrir"
	@include buttons;
}

a:hover,
	button:hover,
	.button:hover{ //ajout d'animation lorsque le curseur passe sur le bouton 
		color: var(--hover);
		border-color: var(--hover);
	}


#close{ //mise en place du bouton CLOSE du MENU
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 2rem;
}

nav ul li a{ //ajout d'animation lorsque le curseur passe sur les LI et les A
	color: var(--black);
}

.navOpen nav{ //affichage de la NAV
	display: flex;
}

nav ul{ //réglage de la NAV
	width: 250px;
	margin-bottom: 20px;
	text-align: center;
}

nav ul li{ //permet de fixer la nav à gauche avec de l'espace entre les liens
	border-bottom: 1px solid var(--navLine);
	text-align: left;
	padding: 10px 0;
}

nav ul li:last-child{ //affiche la barre qui sépare la nav du menu 2
	border: 0;
	border-bottom: 1px solid #57CFF7;
	padding-bottom: 10%;
	width: 100%;
	height: 1px;
}

.intro{ //mise en place du 1er content
	width: 100%;
	background: var(--blue);
	padding: 100px;
	@include margin;
	position: relative;
	margin-bottom: 70px;

	figure{
		display: flex;
		justify-content: center;
	}

	figure img{ //réglage de l'icone du sapin de Noël
		width: 100px;
		display: block;
	}

	h1{ //réglage du contenu sous forme de texte 
		text-align: center;
		margin-left: 0;
		padding-top: 10px;
		font-size: 15px;

		span{ //mise en avant d'une partie du texte
			font-weight: bold;
		}
	}

	button{ //mise en place du boutton découvrir
		margin-left: -86px;
		position: absolute;
		bottom: -22px;
		left: 50%;
		
	}
	
}
 
.funct{ //contenu 2
	 
	p{//mise en place du texte 

		border: 10px solid white;

		span{ //mise en avant du nom de la marque
			font-weight: bold; 
		}
		text-align: center; 
	}

	figure{ //mise en place des trois sous contenus 
		@include margin;
		justify-content: space-between;
		display: flex;
		flex-wrap: wrap;
		margin-left: 30%;
	

		p{ //ajustement des trois contenus
			border: 1px solid var(--blue);
			height: 150px;
			width: 150px;
			border-radius: 50%;
			background: var(--blue);
			text-align: center;
			margin-top: 25px;
			padding-top: 60px;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 15px;
			box-shadow: 5px 5px 5px var(--black);
		}

	}

	p{ //espacement du texte des contenus 
		@include margin;
		margin-bottom: 5%;
	}

	button{ //réglage des boutons groupés
		border-radius: 5px;
		padding: 15px;
		margin-left: 20%;
	}

	button{ //réglage des boutons groupés
		margin-top: 25px;
		padding-left: 15px;
		padding-right: 40px;
	}

	.appli{ //réglage du bouton "obtenir l'application"
		padding-right:4%;
	}

	.ios{ //réglage du bouton "obtenir l'application"
		padding-right: 10%;

		margin-bottom: 5%;
	}
	
}

.fav{ //contenu 3
	@include margin; //espacement du contenu 2 avec le 3
	

	h1{ //réglage du texte concernant les boutiques
		font-weight: bold;
		color: #0E305B;
		text-align: center;
		font-size: 20px;
		margin-bottom: 2%;
		
	}

	.shop{ //mise en page des logos des boutiques partenaires 
		@include margin;
		max-width: auto;
		display: flex;
		margin-left: 10%;
		width: 30%;
		height: auto;
		justify-content:space-between;
		margin-bottom: 5%;

		img{ //mise en page de la carte cashback en BAT's
			height: auto;		
			margin-left: 30%;
			width: 100%;
		}

			.mango{ //réglage du logo de la boutique Mango
				width: 50%;
				height: 50%;
				margin-top: 15%;
			}

			.zara{ //réglage du logo de la boutique Zara
				width: 50%;
				height: 50%;

			}

			.jules{ //réglage du logo de la boutique Jules
				width: 50%;
				height: 50%;
				margin-top: 10%;
			}
	}

	p{ //texte explicatif du cashback chez Zara
		margin-left: 10%;
		margin-right: 10%;
		text-align: center;
		
	}

	.card{ //ajustement de la carte cashback
		@include margin;
		width: 60%;
		height: 60%;
		margin-left: 22%;
		margin-bottom: 5%;
	}

	button{ //gestion du bouton "Voir tous les cashbacks chez Zara"
		@include margin;
		margin-left: 15%;
		border-radius: 5px;
		padding-left: 1%;
		font-weight: normal;
		padding-top: 1%;
		padding-bottom: 1%;
		margin-bottom: 10%;

		.tic{ //gestion de l'emoji dans le bouton
			text-align: left;
			margin-left: -25%;
			margin-top: 2%;
			font-size: 2rem;
			margin-left: 5%;

		}

		.cod{ //gestion du texte "Voir tous les cashbacks chez Zara"
			margin-top: -50px;

		}

		span{ //gestion du span "Zara"
			font-weight: bold;
		}
	}
	
}

.end{ //contenu 4 & son réglage
	@include margin; 
	text-align: center;
	margin-bottom: 5%;

	p{ //réglage du texte du contenu 4
		margin-top: 1%;
		margin-bottom: 3%;
	}

	span{//mise en évidence des chiffres importants pour la marque 
		text-transform: bold;
		font-size: 30px;
		border: 0;
		border-bottom: 10px solid var(--blue);
		width: 100%;
		height: 1px;
		padding-top: 20%;

	}

}

footer{ //mise en place du footer 
	@include margin;
	border: 1px solid var(--blue);
	width: 100%;
	background: var(--blue);

	img{ //gestion du logo
		@include margin;
		width: 20%;
		height: 20%;
		margin-left: 39%;
		margin-bottom: 2%;
	}

	.fend{ //gestion du menu du footer
		margin-left: 20%;
		margin-right: 20%;
		padding: 2%;
		padding-top: 0;
	}

	.fend p{ // alignement du menu au centre
		text-align: center;
	}

	.fend a{ //réglage du menu plus approfondie 
		color:var(--darkblue);
		text-decoration: none;
		justify-content: space-between;
		
	}
	a:hover, //animation du hover lorsque la souris passe sur les balises a
	button:hover,
	.button:hover{
		color: white;
		border-color: white;
	}
}

// PAGE CONTACT // 

.contactintro{ //mise en page du contenu de présentation de la page

	width: 100%;
	height: 50px;
	padding: 100px;
	background: var(--blue);
	@include margin;

	figure img{ // réglage approfondi de l'icône "contact"
		width: 100px;
		margin-top: -90px;
		margin-left: 25%;
	}

	h1{ // réglage approfondi du texte de présentation
		text-align: center;
		margin-left: 0%;
		padding-top: 10px;
		text-transform: uppercase;
		font-size: 15px;
	}
}
.info{ // mise en page du contenu texte de la page 

	@include margin;
	h2{ // texte en question : CONTACT
		margin-bottom: 5%;
		margin-left: 5%;
		text-transform: uppercase;
		font-weight: bold;
	}

	h3{ // texte en question : texte indicateur pour l'utilisateur 
		font-weight: bold;
		margin: 0 5% 5% 5%;
		text-align: center;
		font-size: 15px;
	}
}

.form{ // mise en page du formulaire 
	@include margin;
	margin: 0 20% 10% 15%;
	display: inline-block;
	width: 25%;
	text-transform: uppercase;


	
	input, textarea, select{ //réglage des balises input, textarea & select dans le formulaire 
		padding: 4% 100% 5% 2%;
		margin: 10% 0 10% 0;
		background: var(--blue);
		border: 3px solid var(--darkblue);
		opacity: 0.7;
		border-radius: 10px;
		font-family: 'Montserrat';

	}

	::placeholder{ //édition des placeholders dans le formulaire
		text-transform: uppercase;
	}

	.select{ // réglage approfondi de la case "objet" et des propositions de contact
		padding-right: 95%;
	}

	textarea{ //fixer les dimensions de la case "message" 
		min-width: 10%;
		min-height: 10%;
		max-height: 20%;
		max-width: 300%;
		
	}

	button{ // réglage du bouton "envoyer"
		@include margin;
		border-color: #919191;
		border-radius: 10px;
		padding: 4% 78% 2% 100%;
		background: #e8e8e8;
		

		p{ // centrer le texte "envoyer" dans le bouton 
			margin-left: -5px;
		}
	}
}
	
} 